/* Global styles - minimal since we're using Tailwind */
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "LL Baguid";
  src: url("./assets/fonts/LL_BAGUIO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}